@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

:root {
    --primary: #610094;
    --dark: #150050;
    --neutral: #ffffff;
    --light-pink: #F8ECFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova Mono', monospace;
    text-decoration: none;
    list-style: none;
    color: var(--dark);
}

body {
    max-width: 1600px;
    margin: auto;
}

nav {
    padding: 20px 5%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.logo {
    display: flex;
    cursor: pointer;
}

.logo-icon {
    width: 50px;
    height: 50px;
}

.logo h1 {
    font-size: 36px;
    margin-left: 15px;
}

.button {
    background: var(--primary);
    color: var(--neutral);
    padding: 7px 20px;
    border-radius: 5px;
}

main {
    width: 500px;
    text-align: center;
    margin: 30px auto;
}

.radio-container, .description, .title {
    margin-bottom: 30px;
}

.result {
    width: 400px;
    margin: auto;
    margin-top: 30px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copy-btn, .button {
    user-select: none;
    -moz-user-select: none;
    --webkit-user-select:none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-gen {
    display: block;
    width: max-content;
    margin: auto;
}

.copy-btn:hover, .button:hover {
    opacity: 0.8;
}

.copy-btn:active, .button:active {
    transform: scale(0.8);
}

.preview {
    width: 450px;
    height: 320px;
    margin: 30px auto 60px;
    border-radius: 7px;
    background: var(--primary);
}

#hr {
    background-color: var(--primary);
    height: 1px;
    border: none;
}

.profile {
    width: 240px;
}

.description, footer a {
    font-size: 18px;
}

.desc-dev {
    margin-top: 20px;
}

footer {
    padding: 5%;
    background-color: var(--light-pink);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.content {
    margin-top: 10px;
    transition: 0.3s;
}

.content:hover {
    transform: scale(1.1);
}

.footer-title {
    font-size: 24px;
    margin-bottom: 20px;
    cursor: default;
}

/* custom radio button */
.radio input[type="radio"] {
    display: none;
    /* make default radio button invisible */
}

.radio {
    position: relative;
}

.radio2 {
    margin-left: 100px;
    margin-right: 100px;
}

/* create own radio button */
.radio span {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid var(--primary);
    position: absolute;
    left: -30px;
    cursor: pointer;
}

/* this is small circle inside of radio button */
.radio span::after {
    content: '';
    height: 10px;
    width: 10px;
    background-color: var(--primary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    /* by default inner circle is not shown. i.e. radio button is not checked*/
    border-radius: 50%;
    transition: 0.5s ease;
}

/* show inner circle with red background when the radio button is checked */
.radio input[type="radio"]:checked~span::after {
    transform: translate(-50%, -50%) scale(1);
}

@media (max-width: 900px) {
    
    .logo-icon {
        width: 30px;
        height: 30px;
    }

    .logo h1 {
        font-size: 24px;
    }

    .footer-title {
        font-size: 18px;
    }

    .content a {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    footer {
        text-align: left;
        margin: auto;
        flex-direction: column;
        justify-content: center;
    }

    .my-apps, .knowledge {
        margin-top: 30px;
    }
}

@media (max-width: 570px) {
    main, .preview {
        width: 80%;
        margin: 30px auto 60px;
    }

    .radio-container {
        width: 90%;
        margin: auto auto 30px auto;
    }
}

@media (max-width: 460px) {
    .title {
        font-size: 24px;
    }

    .description {
        font-size: 16px;
    }

    .result {
        width: 80%;
        font-size: 16px;
        text-align: left;
    }

    .radio2 {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 390px) {
    .preview {
        width: 90%;
        height: 300px;
    }

    main {
        width: 90%;
        margin: 30px auto 60px;
    }

    .button {
        font-size: 14px;
    }

    nav {
        flex-direction: column;
    }

    nav > .button {
        margin-top: 20px;
    }
    .title {
        font-size: 20px;
    }

    .description {
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
        font-size: 14px;
    }

    .result {
        font-size: 14px;
    }

    .radio-container {
        width: 90%;
        margin: auto 0 30px auto;

    }

}